@page "/calculate"

<h3>Calculate</h3>

<input id="firstNum" type="number" step="any" min="0" oninput="checkForZero(this)" />
<input id="secondNum" type="number" step="any" min="0" oninput="checkForZero(this)"/>

@code {

}
