@page "/calculate"

<h3>Calculate</h3>

<input @bind="FirstNum" type="number" step="any" min="0" onkeypress="checkForZero(this)"/>
<input @bind="SecondNum" type="number" step="any" min="0" onkeypress="checkForZero(this)"/>

@code {

}
